.venv/
venv/
__pycache__/
*.pyc
.env
.DS_Store
.vscode/
.idea/
*.log
static/*.css
tempCodeRunnerFile.pygit remote set-url origin https://github.com/SwAstikAaa66/ResuMetricsAI.git
git remote -v
git push -u origin master

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db

# Environment
.env
.venv/
venv/
env/

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log